node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

.DS_Store
.env
assets/screenshots/*
eas.json
yarn-error.log
coverage/*
credentials/*
scripts/credentials.json
scripts/screenshots/*
scripts/preview-templates/*
scripts/preview-generated/*
scripts/data/*

build-*.apk
build-*.ipa
build-*.aab

/*.app
/*.tar.gz
