node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
assets/screenshots/*
eas.json
yarn-error.log
coverage/*
credentials/*
scripts/credentials.json
scripts/screenshots/*
scripts/preview-templates/*
scripts/preview-generated/*
.env
