on:
  push:
    branches:
      - main
name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        with:
          release-type: expo
          package-name: release-please-action
          token: ${{ secrets.RELEASE_ME_TOKEN }}